html {
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid black;
  background-color: lightblue;
}

.movie-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid black;
  padding: 0.5rem;
  background-color: beige;
}

h3 {
  font-size: 1.5rem;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.left {
  padding-right: 1rem;
}
